@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";

:root {
  --primary: #7159c1;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}

#player {
  width: 90%;
  max-width: 375px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12),
    0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.card {
  margin: 0;
  box-shadow: none;
}

h4 {
  margin: 0;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: var(--primary);
}

.card-image {
  height: 200px;
}

audio {
  width: 100%;
  margin-top: 30px;
}

#play-pause {
  background-color: var(--primary);
}

#mute {
  color: var(--primary);
  transform: translateY(3px);
}

input[type="range"]::-webkit-slider-thumb {
  background-color: var(--primary);
}

input[type="range"]::-moz-range-thumb {
  background-color: var(--primary);
}

input[type="range"]::-ms-thumb {
  background-color: var(--primary);
}
